/* Headings
   ========================================================================== */

h1 {
  margin: 0;
  font-size: 2.5em;
  line-height: 1.8076923077em;
  margin-bottom: 0.9615384615384616em;
  font-weight: 800;
}

h2 {
  margin: 0;
  font-size: 1.75em;
  line-height: 1.1em;
  margin-bottom: 0;
  font-weight: 300;
}

h3 {
  margin: 0;
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 0.56em;
  font-weight: 400;
  color: #222;
}

h4 {
  margin: 0;
  font-size: 1.15em;
  line-height: 1.3677083731em;
  margin-bottom: 1.25;
  font-weight: 400;
  color: #222;
}

h5 {
  margin: 0;
  font-weight: bold;
  font-size: 1em;
  line-height: 0.9294872284em;
  color: #222;
}

h6 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: #222;
}

.style-h1 {
  font-size: 2.5em;
  line-height: 1.8076923077em;
  margin-bottom: 0.9615384615384616em;
}

.style-h2 {
  font-size: 1.75em;
  line-height: 1.1em;
  margin-bottom: 0;
}

.style-h3 {
  font-size: 1.25em;
  line-height: 1.5em;
  margin-bottom: 0.56em;
  font-weight: 400;
  color: #222;
}

.style-h4 {
  font-size: 1.15em;
  line-height: 1.3677083731em;
  margin-bottom: 1.25;
  color: #222;
}

.style-h5 {
  font-size: 1em;
  line-height: 0.9294872284em;
  color: #222;
}

.style-h6 {
  font-size: 1em;
  color: #222;
}