// variables

//colors
$color_brand: #FF6600;
$color_light-bg: #FAFAFA;
$color_black-light: #666;
$color_black-lighter: #777;
$color_grey-border: #EAEAEA;

// font
$font_open-sans: 'Open Sans';
$font_sans-serif: 'sans-serif';
$font_material-icons: 'Material Icons';

// font stack
$font-stack_default: $font-open-sans, $font_sans-serif;

// bootstrap screen dimensions
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
