/* Hero
   ========================================================================== */

.hero {
  background: url(../img/bg-texture-orange.png) #EDEDED center top;
  border-top: 1px solid #E1E1E1;
  margin-bottom: 3em;

  h1 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(11,11,11,.5);
    margin: .5em 0;
  }
}