/* Sub Menu
   ========================================================================== */

.sublinkmenu {
	float:left;
	padding: 0px 20px 0px 0px;
	border-right: 1px solid #ccc;
	margin: 0px 30px 20px 0px;
}
.sublinkmenutitle {
	font-size: 26px;
	font-weight: 300;
	line-height: 130%;
	display: block;
}
.sublinkmenu ul {
	padding: 0px;
	margin: 0px 0px 0px 20px;
	list-style: disc;
}
.sublinkmenu ul li {
	line-height: 2em;
}
.secondary-links li {
	display: inline;
	padding: 0px 20px;
	border-right: 1px solid #ccc;
}
@media (max-width: 768px) {
	.sublinkmenu {
		float:none;
		padding: 0px;
		border-right: 0px;
	}   
}
