/* Tabs
   ========================================================================== */

.nav-tabs > li.active > a {
  background: $color_light-bg;

  &:focus {
    background: $color_light-bg;
  }

  &:hover {
    background: $color_light-bg;
  }
}

.tab-pane {
  padding: 2rem 3rem;
}
